dist
dist-newstyle
.stack-work
.HTF
*.sqlite
*/*.sqlite
test/testdata/*
\#*#
*~
*.~lock*
*.lkshs
*.lkshw
*/*.lkshs
*/*.lkshw
unused.txt
*.autosave*
cabal.project.local
ideaHaskellLib
out
testForLitText
